<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title>0 crumbs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Bakbak One' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap" rel='stylesheet'>
  <style>
  h1 {
      font-family: 'Bakbak One';font-size: 30px;
      color: black;
  }
  h2 {
      font-family: 'Yanone Kaffeesatz';font-size: 25px;
      color: black;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    font-family: "Yanone Kaffeesatz";
    transition: background-color 0.3s ease;
  }

  nav a:hover {
    background-color: #555;
  }

  </style>
</head>
<body>
  <center>
    <img src=".././static/0 crumbs.png" height="125" width="125">
    <br><br>
    <nav>
      <a href="/">about</a>
      <a href="signupFood.html">advertise service</a>
      <a href="signupNeedy.html">advertise needy</a>
      <a href="viewFood.html">view service</a>
      <a href="viewNeedy.html">view needy</a>
    </nav>
    <h1>About</h1>
    <h2>Are you a food business that faces food wastage when your food stock isn't sold out?<br>
    Are you needy for food that may not be available to you?<br>
    If you say yes to any of these questions, then you are at the right place!</h2>
    <h1>How is the food wastage situation in Singapore?</h1>
    <img src="https://onecms-res.cloudinary.com/image/upload/s--SXYw3Kya--/f_auto,q_auto/c_fill,g_auto,h_622,w_830/v1/tdy-migration/study_on_food_loss_and_food_waste_in_singapore_infographic_6_aug_2019-1.jpg?itok=_JIPa0-0" height="300" width="500">
    <br>
    <img src="https://onecms-res.cloudinary.com/image/upload/s--oJof3wmA--/f_auto,q_auto/c_fill,g_auto,h_622,w_830/v1/tdy-migration/study_on_food_loss_and_food_waste_in_singapore_infographic_6_aug_2019-2.jpg?itok=xWxX3nYA" height="300" width="500">
    <h1>Why "0 crumbs"?</h1>
    <h2>"0 crumbs" is a webapp that helps the needy find unsold food that is available to them. Since the food would be wasted and go bad if it isn't sold, why not give them to the needy? This kills 2 birds with 1 stone, as it allows the needy to eat and prevents food wastage, leaving 0 crumbs.
    </h2>
    <img src="https://media4.giphy.com/media/jSiMbw4qNzVtBCP639/200w.gif?cid=6c09b952gpvhffgxxp2p1ym7txrf6y3dxzb5ur2abkr61qbh&ep=v1_gifs_search&rid=200w.gif&ct=g" height="150" width="200"><img src="https://github.com/doggocaliper/0-crumbs/blob/main/download.png?raw=true" height="150" width="200">
    <h1>How does this work?</h1>
    <h2>As a food business or a beneficiary, you can look through "viewNeedy.html" or "viewFood.html" respectively to see who you want to work with.
    <br><br>
    From there, you can contact each other to form a partnership, and get unsold food delivered.
    <br><br>
    To advertise yourself, fill up the form depending on whether you are a Food Business or a Beneficiary (e.g. Charities).</h2>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/df7f3607-8722-4e2e-bd34-28512a857aa7/d3n2pnt-3ef8f6cd-cbeb-4b61-b19c-67b745fa0b33.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RmN2YzNjA3LTg3MjItNGUyZS1iZDM0LTI4NTEyYTg1N2FhN1wvZDNuMnBudC0zZWY4ZjZjZC1jYmViLTRiNjEtYjE5Yy02N2I3NDVmYTBiMzMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.X98rvaInfT4YqTbyBRVrOkc8461714qT3o5Nc8ikc7s" height="200" width="250">
    <br>
    <a>Creds: No Crumbs Left Behind by ZeirthPlasma</a>
    <br>
    <br>
  </center>
</body>
</html>